//font-size
$default-font-size: 62.5%;
$default-paragraph-size: 1.6rem;

//colors
$gradient-color: #e0e0e0;
$paragraph-color: #a1a0a0;
$color-black: #000;
$color-white: #fff;
$color-darkGray: #5a5a5a;
$color-red: #ff0000;