//home page contact style
.contact-us{
    background-image: url('/build/img/contact-bg.jpg');
    background-size: cover;
    background-position: center;
}

//contact page style
.icon-box {
    padding: 3rem 2rem;
}
.icon-contact {
    font-size: 3.5rem;
}