.u-padding-big {padding: 8rem 0;}
.u-margin-medium{margin: 4rem 0;}
.u-margin-big{margin: 8rem 0;}
.u-gray-bg{background-color: $color-darkGray;}
.u-height{height: 25rem;}
.u-padding-left{padding-left: 1.5rem !important;}
.u-margin-right-3rem{margin-right: 3rem;}