.header {
    height: 100vh;
    background-image: linear-gradient(to right, rgba($gradient-color,.8), rgba($gradient-color,.8)), url('/build/img/banner.png');
    background-size: cover;
    background-position: top;

    &__caption-box {
        padding: calc(100vh / 3.3) 0;
        &--main {
            display: block;
        }
        &--sub {
            color: red;
        }
    }
    a {
        font-size: 1.6rem;
    }
}